<form
  [formGroup]="fg">
  <div class="card m-2">
    <h5 class="m-2">Get URL</h5>

    <div class="formgrid grid m-2">
      <div class="field col">
        <label>{{controlConstant.url}}</label>
        <input type="text"
               [formControlName]="controlConstant.url"
               class="inputfield w-full">
      </div>
      <div class="field col">
        <label>{{controlConstant.shortCode}}</label>
        <input type="text"
               [formControlName]="controlConstant.shortCode">

        <span class="text-danger"
              *ngIf="(shortCodeFormControl['shortCode'].touched) &&
               shortCodeFormControl['shortCode'].errors?.['required']">
            Please Short Code
        </span>

      </div>



    </div>

     <div class="p-grid p-fluid my-1 d-flex ml-4">
      <button mat-raised-button color="primary" (click)="getUrl()">
        Get Url
      </button>

      <button mat-raised-button color="primary"  (click)="List()">
        List
      </button>


    </div>

  </div>


  <div class="card m-2">
    <h5 class="m-2">list</h5>
    <div *ngIf="(getItems$ | async)">
      <mat-card-content>
        <li *ngFor="let item of getItems$ | async; index as i;">
          <a href="{{item.url}}" target="_blank">{{item.url}}</a>
          {{item.shortCode}}
        </li>
      </mat-card-content>
    </div>
  </div>


  <div class="card m-2">
    <h5 class="m-2">URL</h5>
    <div *ngIf="getUrl$ | async as url">
      <mat-card-content>
        <li>{{url}}</li>
      </mat-card-content>
    </div>
  </div>



</form>
