<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link" routerLink="short-code">Short Code</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link" routerLink="short-url">Short Url</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link" routerLink="add">Post Short Code</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
