<form
  [formGroup]="fg">
  <div class="card m-2">
    <h5 class="m-2">Short Code</h5>

    <div class="formgrid grid m-2">
      <div class="field col">
        <label>{{controlConstant.url}}</label>
        <input type="text"
               [formControlName]="controlConstant.url"
               class="inputfield w-full">

        <span class="text-danger"
              *ngIf="(shortCodeFormControl['url'].touched) &&
               shortCodeFormControl['url'].errors?.['required']">
            Please Url Code
        </span>

      </div>
        <div class="field col">
        <label>{{controlConstant.shortCode}}</label>
        <input type="text"
               [formControlName]="controlConstant.shortCode">


        <span class="text-danger"
              *ngIf="(shortCodeFormControl['shortCode'].touched) &&
               shortCodeFormControl['shortCode'].errors?.['required']">
            Please Short Code
        </span>

      </div>
    </div>

    <div>

      <button mat-raised-button color="primary" (click)="post()">
        post
      </button>

      <button
        mat-raised-button color="primary"
        class="ml-2"
        (click)="List()">
        List
      </button>



    </div>

  </div>

  <div class="card m-2">
    <h5 class="m-2">list</h5>
    <div *ngIf="(getItems$ | async)">
      <mat-card-content>
        <li *ngFor="let item of getItems$ | async; index as i;">
          <a href="{{item.url}}" target="_blank">{{item.url}}</a>
        </li>
      </mat-card-content>
    </div>
  </div>

</form>
